.input {
  /* background-color: white !important; */
  width: 80% !important;
  height: 500px !important;
}

.input-inside {
  background-color: white !important;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  width: 60%;
  font-size: 1.5rem;
}

.input-container {
    background-color: white !important;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 80%;
  }

  .title {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-style: italic;
  }

  .cnxbtn {
    margin-block: 5%;
    width: 20%;
    font-size: 1.25rem;
    font-style: italic;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 0, 228);
    margin-inline: 1%;
}
