.bienvenue {
    color: white !important;
    font-style: italic;

}

.cnxbtn {
    margin-block: 5%;
    width: 50%;
    font-size: 1.25rem;
    font-style: italic;
    border-radius: 20px;
    background-color: rgba(0, 0, 136, 0.774);
}